* {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: large;
}
body {
  background: url(./Images/Drum-kit.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.drum {
  color: black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}
p {
  color: whitesmoke;
  margin-top: 5%;
}
.drum:active {
  box-shadow: 10px 10px whitesmoke;
}
